.testimonials
{
    padding-top: 100px;

    text-align: center;

    background-color: #000;
}

.testimonials--title
{
    font-family: $open-sans-light;
    font-size: 2.75rem;
    font-weight: 300;

    position: relative;

    margin-bottom: 93px;

    text-transform: uppercase;

    color: $white-color;
    &::before
    {
        position: absolute;
        bottom: 10px;
        left: calc(50% - 49px);

        display: block;

        width: 98px;
        height: 4px;

        content: '';

        background-color: $orange-color;
    }
    &::after
    {
        display: block;

        width: 66px;
        height: 4px;
        margin: 45px auto 0 auto;

        content: '';

        background-color: rgba($orange-color, .7);
    }
}
.testimonials--text-semi-bold
{
    font-family: $open-sans-semi-bold;
    font-weight: 600;
}
.testimonials--slider
{
    max-width: 931px;
    margin: 0 auto 100px auto;
}
.testimonials--list .slick-list
{
    margin-bottom: 64px;
}



.testimonials--itrem
{
    font-size: 1.125rem;
}
.testimonials--text
{
    font-family: $open-sans-reg;
    font-weight: 400;

    margin-bottom: 49px;

    text-transform: uppercase;

    color: #e7e7e7;
    color: #e7e7e7;
}

.testimonials--author
{
    font-family: $open-sans-light;
    font-weight: 300;
    font-style: normal;

    color: #b2b2b2;
}
.testimonials-text-semi-bold
{
    font-family: $open-sans-semi-bold;
    font-weight: 600;
}
