@mixin logo-centered($width) {
	position: absolute;
	margin-left: - ($width / 2);
	left: 50%;
	width: $width;
}

@mixin locks-front-size ($min-value, $max-value){
	@media (max-width:320px)
	{
		&
		{
			font-size:#{$min-value}rem;
		}
	}
	@media (min-width:320px)
	{
		&
		{
			font-size:calc(#{$min-value}rem + ((#{$max-value} - #{$min-value}) * 16 ) * (100vw - 320px) / 672 );
		}
	}
	@media (min-width:992px)
	{
		&
		{
			font-size:#{$max-value}rem;
		}
	}
}

$bootstrap-xs: "(max-width:767px)";
$bootstrap-sm: "(min-width:768px)";
$bootstrap-md: "(min-width:992px)";
$bootstrap-lg: "(min-width:1200px)";
$bootstrap-xl: "(min-width:1400px)";
$bootstrap-xxl: "(min-width: 1700px)";

$bootstrap-size-xs: 767px;
$bootstrap-size-sm: 768px;
$bootstrap-size-md: 992px;
$bootstrap-size-lg: 1200px;
$bootstrap-size-xl: 1400px;
$bootstrap-size-xxl:  1700px;