ul{
  margin: 0;
  padding: 0;
}
#container {
  background: transparent;
  padding: 20px;
  z-index: 1;
  position: absolute;
  right: 0;
}

.menu-btn {
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color: rgba(60, 170, 210, 0);
  box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.2);
  width: 38px;
  height: 40px;
  padding: 7px 6px;
  cursor: pointer;
  color: #ffffff;
}
.close-block {
  height: 85px;
}
.close-btn {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

.menu-btn:hover {
  background: transparent;
  color: #FFF;
}
.nav-text-mobile {
  font-family: $ubuntu-medium-font, "sans-serif";
  font-size: 0.938em;
  font-weight: 500;
  line-height: 30px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-navbar-mobile {
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color:  rgba(60, 170, 210, 0);
  box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.2);
  width: 184px;
  height: 52px;
  font-family: $ubuntu-medium-font, "sans-serif";
  color: #ffffff;
  font-size: 0.938em;;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

.btn-navbar-basket {
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color:  rgba(60, 170, 210, 0);
  box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 32px;
  font-family: $ubuntu-medium-font, "sans-serif";
  color:  #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0 12px;
  margin-top: 25px;
  &:hover {
    color: #ffffff;
  }
  img {
    width: 18px;
    height: 16px;
    margin-right: 10px;
    margin-top: -4px;
  }
}
.btn-enter-mobile {
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color: rgba(60, 170, 210, 0);
  box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.2);
  width: 104px;
  height: 32px;
  font-family: $ubuntu-medium-font, "sans-serif";
  color: #ffffff;
  font-size: 0.938em;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0;
  outline: none;
  margin-left: 25px;
  margin-top: 25px;
  .sing-in-icon {
    margin: 0 10px;
  }
}
.btn-drop-mobile {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  background-color:  #ffffff;
  box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.05);
  width: 200px;
  height: 30px;
  font-family: $ubuntu-regular-font, "sans-serif";
  color:  #3e4041;
  font-size: 0.938em;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding: 0 10px;
  margin-left: 25px !important;
  margin-top: 25px;
  position: relative;
  z-index: 2;
  .user-icon {
    float: left;
    margin-right: 5px;
    line-height: 28px;
  }
  .sort-icon {
    float: right;
    line-height: 24px;
  }
}

.pushy {
  position: fixed;
  width: 225px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 9999;
  background: #333332;
  font-size: 0.9em;
  font-weight: bold;
  -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.pushy a {
  display: block;
  color: #fff;
  padding:  0 30px;
  text-decoration: none;
  text-align: right;
}

.drop-menu {
  position: relative;
  margin-left: 25px;
  margin-top: -5px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  width: 202px;
  background-color: #ffffff;
  a {
    text-align: left;
  }
  >li>a {
    padding: 3px 10px;
  }
  .hr-nav {
    background-color:  #e5e5e5;
    height: 1px;
    margin: 0;
  }
  .angle-icon {
    margin-right: 10px;
  }
}

.pushy a:hover{
  color: #FFF;
}

.pushy-left{
  -webkit-transform: translate3d(225px,0,0);
  -moz-transform: translate3d(225px,0,0);
  -ms-transform: translate3d(225px,0,0);
  -o-transform: translate3d(225px,0,0);
  transform: translate3d(225px,0,0);
}

.pushy-open{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.container-push, .push-push{
  -webkit-transform: translate3d(-225px,0,0);
  -moz-transform: translate3d(-225px,0,0);
  -ms-transform: translate3d(-225px,0,0);
  -o-transform: translate3d(-225px,0,0);
  transform: translate3d(-225px,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
  -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
  -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
  -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
  transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay{
  display: none;
}

.pushy-active .site-overlay{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0,0,0,0.5);
  -webkit-animation: fade 500ms;
  -moz-animation: fade 500ms;
  -o-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fade{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fade{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* Example Media Query */

@media screen and (max-width: 768px){
  .pushy{
    font-size: 1.0em;
  }
}