.header--default {
	height: 12.02vh;
	padding-top: 7.21vh;
}


.header--logo {
	float: left;
}

.header--logo-text {
	font-size: 1.5rem;
	line-height: 24px;
	color: $white-color;
	text-transform: uppercase;
}

.header--nav{
	float: right;
}
.nav--list {
	font-size: 0;
}

.nav--item {
	position: relative;
	display: inline-block;
	&:last-child .nav--link{
		padding-right: 0;
	}

	.nav--link {
		display: block;

		padding: 0 10px 20px 10px;

		font-size: 0.875rem;
		line-height: 24px;
		color: $white-color;
		text-transform: uppercase;

		&:hover,
		&:focus{
			color: $white-color ;
			text-decoration: none;
			outline: none;
			&::after{
				display: block;
			}
		}
		&::after{
			position: absolute;
			top: calc(100% - 3px);
			right: 0;
			left: 0;
			display: none;
			height: 3px ;
			content: '';
			background-color: $orange-color;
			background: linear-gradient(to right, rgba($white-color, 0.1) 50%, $orange-color 50%);
		}
	}

}
